.admin-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    margin-left: 400px;
  }
  
  .admin-login-form {
    width: 300px;
    padding: 20px;
   
    
    background-color: #fff; 
  }
  
  .admin-login-form h2 {
    margin-bottom: 20px;
  }
  
  .admin-login-form .input-group {
    margin-bottom: 10px;
  }
  
  .admin-login-form input {
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .admin-login-form button {
    
    background-color: purple;
    color: white;
    width: 100px;
    height: 50px;
    margin-left: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .admin-login-form button:hover {
    background-color: #5e09c7;
  }
  